body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.paper-container {
    text-align: center;
    justify-content: space-around;
    display: flex;
}

#left-mag-title {
    margin-top: 80px;
}

    #left-mag-title h3, #left-mag-title h6 {
        text-transform: uppercase;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    #left-mag-title > h6 {
        padding-right: 50px;
        font-weight: bolder;
    }

#right-mag-icons {
    margin-bottom: 30px;
    margin-top: 70px;
}

    .fa-brands, #right-mag-icons > .fa-solid {
        border: 1px solid #EEEEEE;
        width: 51px;
        height: 51px;
        padding: 12px;
        border-radius: 50%;
        font-size: 25px;
        margin-left: 7px;
        margin-right: 7px;
    }

.navigation {
    text-align: center;
    display: flex;
    list-style-type: none;
    padding-left: 265px;
    background-color: #202040
}


    .navigation li:last-child {
        position: relative;
        margin-top: 18px;
        margin-left: 204px;
    }

        .navigation li:last-child i {
            position: absolute;
            left: 170px;
            top: 10px;
        }

a {
    display: inline-block;
}

.navigation li:not(:last-child) a {
    width: 104px;
    height: 77px;
    padding-top: 30px;
    text-transform: uppercase;
}

    .navigation li:not(:last-child) a:hover {
        background: #F1BC31;
    }

.navigation li a {
    color: #FFFFFF;
    text-decoration: none;
}


input {
    border: none;
    background-color: white;
    font-size: 14px;
    padding: 10px;

}




