body {
}

p {
    margin: 0;
    padding: 0;
}

.contact-header {
    background: #2d3e50;
    min-height: 60px;
}

    .contact-header ul {
        list-style-type: none;
    }

.fa-envelope {
    color: #ffc000;
    padding-top: 21px
}

.title-color {
    color: #ffc000;
}

.navi {
    min-height: 60px;
}

.nav-link {
    color: #252c30;
    background: black;
    text-transform: uppercase;
    font-weight: 100;
    font-weight: bold;
}

ul li:first-child a {
    color: #ffc000;
}

    



h1 {
    color: #ffc000;
    font-size: 72px
}

.h1 {
    font-size: 72px
}

.chevron {
    font-size: 42px;
    color: #ffc000;
    margin-top: 25%;
}

.constra {
    margin: auto auto;
    margin-top: 18%;
}

/*-------------------------------------*/
.we-offer {
    margin-top:124px;
    margin-bottom:124px;
}
h2 span:first-child {
    color: #ffc000;
    margin-bottom:38px;
}
.we-offer > p{
    width:44%;
    
    margin-bottom:62px;
}

.feature > div {
    padding: 62px 24px;
    border: 10px solid white;
    background-color: #2d3e50;
    color: white;
    text-align: center;

}


        .feature div:hover {
            background-color: white;
            color: black;
        }

        .feature div i {
            width: 80px;
            height: 80px;
            font-size: 36px;
            padding: 22px;
            background-color: white;
            color: #ffc000;
        }

        .feature div:hover > i {
            background-color: #ffc000;
            color: white;
        }

        


.my-icon {
    border-radius: 50%;
    padding: 10px;
    background: #ffc000;
}
